.container {
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.selector {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem;
  border-radius: 5px;
  background-color: #ffc2668c;
  box-shadow: 5px 5px 10px black;
  margin-bottom: 20px;
}
.selector input {
  border: transparent;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.selector button {
  outline: none;
  border: transparent;
  margin-top: 10px;
  height: 3rem;
  border-radius: 25px;
}
body {
  background: url('../../static/pexels-photo-1118873.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.inner-container {
  backdrop-filter: blur(2px);
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  margin: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  width: calc(100% / 8.5);
  background-color: #ffc266a2;
  justify-content: center;
}
.card-item {
  margin: 5px 0px 5px 0px;
}

.select-box{
  height: 30px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .card {
    width: calc(100% / 4);
  }
}
@media (max-width: 768px) {
  .card {
    width: calc(100% / 3);
  }
}

@media (max-width: 600px) {
  .selector {
    width: 100%;
  }
  .inner-container {
    flex-direction: column;
  }
  .card {
    width: calc(100%);
  }
}
